<% if @action == :replace %>
  <%= turbo_stream.replace_all("#catalogue .list") do %>
    <%= tag.ul class: :list do %>
      <%- render partial: "joke", collection: @jokes %>    
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.append_all("#catalogue .list") do %>
    <%= render partial: "joke", collection: @jokes %>
  <% end %>
<% end %>
  
<%= turbo_stream.replace_all(".pagination") do %>
    <div class="pagination">
      <% if not @user.show_jokes_allowed? %>
        <p>
          <%= t(:".jokes_hidden", username: @user.username) %>
        </p>
      <% elsif @jokes.nil? || @jokes.none? %>
        <p>
          <%= t(:".no_jokes") %>
        </p>
      <% elsif @jokes.last_page? %>
        <p>
          <%= t(:".no_more_jokes") %>
        </p>
      <% else %>
        <%= link_to_next_page @jokes, 
          t(:".get_more_jokes"), 
          data: { turbo_stream: true }, 
          params: { turbo_action: :append } %>
      <% end %>
    </div>
<% end %>