<turbo-frame id="summary" 
  data-controller="profile-edit locale" 
  data-containers-target="container"
  data-container-name="summary">
  <h2 class="accent">
    <%= t(:".edit") %>
  </h2>

  <%# delete form: %>

  <%= form_with(url: registration_path(resource_name), 
        method: :delete, 
        html: { 
          id: "delete-account",
          data: { 
            profile_edit_target: "deleteForm", 
            action: "profile-edit#submitDeleteForm" } 
        }) do |f| %>
    <%= f.hidden_field :current_password, name: "user[current_password]", 
      data: { profile_edit_target: "passwordHiddenField" } %>
    <% @delete_account_password_errors = render_errors(resource, :current_password) %>
  <% end %>

  <%= form_with(url: locale_path, 
        method: :patch, 
        html: { 
          id: "change-locale",
          data: { 
            turbo: "false",
            locale_target: "form"
          } 
        }) do |f| %>
    <%= f.hidden_field :locale %>
    <%= f.hidden_field :current_page, value: request.path %>
  <% end %>

  <%# email confirmation form: %>
  <% if devise_mapping.confirmable? && !resource.guest? && 
      (resource.pending_reconfirmation? || !resource.confirmed?) %>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { id: "resend-confirmation", method: :post }) do |f| %>
      <%= f.hidden_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <% end %>
  <% end %>
  <%# general edit form: %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
        html: { 
          id: "edit-registration", 
          class: "form-large", 
          method: :put,
          data: { profile_edit_target: "editForm" }
        }) do |f| %>
    <%# render "devise/shared/error_messages", resource: resource %>
    <% if devise_mapping.confirmable? && !resource.guest? && 
      (resource.pending_reconfirmation? || !resource.confirmed?) %>
      <fieldset class="email-not-confirmed">
        <legend>
          <%= t(:".email_not_confirmed") %>
        </legend>
        <p class="accent">
          <%= t(:".awaiting_email_confirmation_html") %>
        </p>
        <input type="submit" form="resend-confirmation" 
          value="<%= t(:".send_confirmation") %>" data-turbo-frame="_top"> 
      </fieldset>
    <% end %>

    <fieldset>
      <legend>
        <%= t(:".locale_settings") %>
      </legend>
    
      <div class="select-container">
        <%= f.select :locale, 
          options_for_select(
            [*User.locales.keys], 
            I18n.locale),
          {}, 
          { data: { action: "change->locale#submit"} } %>
        <%= f.label :locale, t(:".language"), style: "display: block" %>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <%= t(:".important_settings") %>
      </legend>
      <div>
        <%= f.text_field :username, 
          value: nil, 
          placeholder: t(:".new_username"), 
          :"aria-label" => t(:".new_username_aria"), 
          autocomplete: "off",
          minlength: 1,
          maxlength: 14 %>
        <%= render_errors(resource, :username) %>
      </div>

      <div>
        <%= f.email_field :email, 
          value: nil, 
          placeholder: t(:".new_email"), 
          :"aria-label" => t(:".new_email_aria"), 
          autocomplete: "off" %>
        <%= render_errors(resource, :email) %>
      </div>

      <div>
        <%= f.password_field :password, 
          placeholder: t(:".new_password"), 
          :"aria-label" => t(:".new_password_aria"), 
          autocomplete: "new-password",
          minlength: 8 %>
        <%= render_errors(resource, :password) %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, 
          placeholder: t(:".confirm_password"), 
          :"aria-label" => t(:".confirm_password_aria"), 
          autocomplete: "new-password",
          minlength: @minimum_password_length %>
        <%= render_errors(resource, :password_confirmation) %>
      </div>

      <div class="delete-account">
        <input type="submit" 
          class="unstyled accent-alert" 
          form="delete-account" 
          value="<%= t(:".delete_account") %>" 
          data-turbo-confirm="<%= t(:".delete_account_prompt") %>">
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <%= t(:".privacy_settings") %>
      </legend>
      <div class="switch-container">
        <div>
          <%= t(:".show_jokes") %>
        </div>
         <div class="switch">
          <%= f.label :show_jokes_allowed, 
            :"aria-label" => t(:".show_jokes"), 
            style: "display: block" do %>
            <%= f.check_box :show_jokes_allowed %>
            <span class="slider"></span>
          <% end %>
        </div>
      </div>

      <div class="switch-container">
        <div>
          <%= t(:".show_awards") %>
        </div>
         <div class="switch">
          <%= f.label :show_awards_allowed, 
            :"aria-label" => t(:".show_awards"), 
            style: "display: block" do %>
            <%= f.check_box :show_awards_allowed %>
            <span class="slider"></span>
          <% end %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <%= t(:".confirm") %>
      </legend>
      <div>
        <%= f.password_field :current_password, 
          required: true,
          placeholder: t(:".current_password"), 
          autocomplete: "password",
          :"aria-label" => t(:".current_password_aria"),
          data: { 
            profile_edit_target: "passwordField", 
            action: "profile-edit#copyPassword" } %>
        <%= @delete_account_password_errors || render_errors(resource, :current_password) %>
      </div>
    </fieldset>
  <% end %>

  <div class="buttons-container">
    <input type="submit" 
      form="edit-registration" 
      value="<%= t(:".save") %>" 
      class="notice">
    <%= link_to t(:".back"), 
      profile_path(current_or_guest_user), 
      class: "button", 
      data: { turbo_action: :advance } %>
  </div>
</turbo-frame>