<turbo-frame id="summary" data-controller="profile-edit" data-two-containers-target="leftContainer">
  <h2 class="black">Редактировать</h2>
  <%= form_with(url: registration_path(resource_name), 
        method: :delete, 
        html: { 
          id: "delete-account",
          data: { profile_edit_target: "deleteForm", action: "profile-edit#submitDeleteForm" } 
        }) do |f| %>
    <%= f.hidden_field :current_password, name: "user[current_password]", data: { profile_edit_target: "passwordHiddenField" } %>
    <% @delete_account_password_errors = render_errors(resource, :current_password) %>
  <% end %>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
        html: { 
          id: "edit-registration", 
          class: "form-large", 
          method: :put,
          data: { profile_edit_target: "editForm" }
        }) do |f| %>
    <%# render "devise/shared/error_messages", resource: resource %>
    
    <fieldset>
      <legend>Важные (можно не заполнять)</legend>
      <div>
        <%= f.text_field :username, 
          value: nil, 
          placeholder: "Новое имя?", 
          aria_label: "Введите новое имя пользователя, если желаете изменить", 
          autocomplete: "off",
          minlength: 1,
          maxlength: 14 %>
        <%= render_errors(resource, :username) %>
      </div>

      <div>
        <%= f.email_field :email, 
          value: nil, 
          placeholder: "Новый эмейл?", 
          aria_label: "Введите новйы эмейл, если желаете изменить", 
          autocomplete: "off" %>
        <%= render_errors(resource, :email) %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Ждём подтверждения <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div>
        <%= f.password_field :password, 
          placeholder: "Новый пароль?", 
          aria_label: "Введите новый пароль, если желаете изменить", 
          autocomplete: "new-password",
          minlength: 8,
          maxlength: 128 %>
        <%= render_errors(resource, :password) %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, 
          placeholder: "Ещё раз", 
          aria_label: "Повторите новый пароль, если желаете изменить", 
          autocomplete: "new-password",
          minlength: 8,
          maxlength: 128 %>
        <%= render_errors(resource, :password_confirmation) %>
      </div>

      <div class="delete-account">
        <input type="submit" class="unstyled red" form="delete-account" value="Удалить аккаунт?" data-confirm="Удалить аккаунт? Вся статистика и трофеи будут потеряны навсегда!" data-turbo-confirm="Удалить аккаунт? Вся статистика и трофеи будут потеряны навсегда!">
      </div>
    </fieldset>

    <fieldset class="switch-container">
      <legend>
        Приватность профиля
      </legend>
      <div>
        <div>Показывать шутки</div>
         <div class="switch">
          <%= f.label :show_jokes_allowed, aria_label: "Показывать шутки", style: "display: block" do %>
            <%= f.check_box :show_jokes_allowed %>
            <span class="slider"></span>
          <% end %>
        </div>
      </div>

      <div>
        <div>Показывать награды</div>
         <div class="switch">
          <%= f.label :show_awards_allowed, aria_label: "Показывать награды", style: "display: block" do %>
            <%= f.check_box :show_awards_allowed %>
            <span class="slider"></span>
          <% end %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
      Подтвеждение
    </legend>
      <div>
        <%= f.password_field :current_password, 
          required: true,
          maxlength: 128,
          placeholder: "Старый пароль", 
          autocomplete: "password",
          data: { profile_edit_target: "passwordField", action: "profile-edit#copyPassword" } %>
        <%= @delete_account_password_errors || render_errors(resource, :current_password) %>
      </div>
    </fieldset>
  <% end %>

  <div class="buttons-container">
    <input type="submit" form="edit-registration" value="Сохранить" class="highlighted">
    <%= link_to "Назад", profile_path(current_or_guest_user), class: "button", data: { turbo_action: :advance } %>
  </div>
</turbo-frame>