<turbo-frame id="authentication-form">
  <%= form_for(resource, url: registration_path(resource_name), html: { id: "new-registration", class: "new-registration" }) do |f| %>
    <%# render "devise/shared/error_messages", resource: resource %>
    <div>
      <%= f.email_field :email, 
        autocomplete: "email", 
        placeholder: t(:".email"), 
        aria_label: t(:".email_aria"), 
        required: true %>
      <%= render_errors(resource, :email) %>
    </div>
  
    <div>
      <%= f.text_field :username, 
        autocomplete: "username", 
        placeholder: t(:".username"), 
        aria_label: t(:".username_aria"), 
        required: true,
        minlength: 1, 
        maxlength: 14 %>
      <%= render_errors(resource, :username) %>
    </div>
  
    <div>
      <%= f.password_field :password, 
          autocomplete: "new-password", 
          placeholder: t(:".password"), 
          aria_label: t(:".password_aria", min_length: @minimum_password_length),
          required: true,
          minlength: @minimum_password_length %>
      <%= render_errors(resource, :password) %>
    </div>
  
    <div>
      <%= f.password_field :password_confirmation, 
        autocomplete: "new-password", 
        placeholder: t(:".password_confirm"), 
        aria_label: t(:".password_confirm_aria"),
        required: true,
        minlength: @minimum_password_length %>
      <%= render_errors(resource, :password_confirmation) %>
    </div>
  <% end %>

   <input type="submit" 
    form="new-registration" 
    value="<%= t(:".create_account") %>" 
    data-turbo-frame="_top">

  <%= render "devise/shared/links" %>
</turbo-frame>