<article class="welcome">
  <section>
    <h2>
      <%= t :".welcome" %>
    </h2>
  </section>
  <section>
    <h3>
      <%= t :".where_am_i" %>
    </h3>
    <p>
      <%= t :".finejoke_is_html" %>
    </p>
  </section>
  <section>
    <h3>
      <%= t :".rules" %>
    </h3>
    <p>
      <%= t :".rules_description_html" %>
    </p>
    <ol>
      <li>
        <%= t :".setup_step" %>
      </li>
      <li>
        <%= t :".punchline_step" %>
      </li>
      <li>
        <%= t :".vote_step" %>
      </li>
    </ol>
    <p>
      <%= t :".additional_rules" %>
    </p>
  </section>
  <section>
    <h3>
      <%= t :".anything_else" %>
    </h3>
    <p>
      <%= t :".ai_html" %>
    </p>
  </section>
  <section>
    <h3>
      <%= t :".who_are_authors" %>
    </h3>
    <p>
      <%= t :".authors_html", link: "" %>
    </p>
  </section>
</article>
