<article class="welcome">
  <section aria-labelledby="welcome-heading">
    <h2 id="welcome-heading">
      <%= t :".welcome" %>
    </h2>
  </section>
  <section aria-labelledby="welcome-where-am-i-heading">
    <h3 id="welcome-where-am-i-heading">
      <%= t :".where_am_i" %>
    </h3>
    <p>
      <%= t :".finejoke_is_html" %>
    </p>
  </section>
  <section aria-labelledby="welcome-rules-heading">
    <h3 id="welcome-rules-heading">
      <%= t :".rules" %>
    </h3>
    <p>
      <%= t :".rules_description_html" %>
    </p>
    <ol>
      <li>
        <%= t :".setup_step" %>
      </li>
      <li>
        <%= t :".punchline_step" %>
      </li>
      <li>
        <%= t :".vote_step" %>
      </li>
    </ol>
    <p>
      <%= t :".additional_rules" %>
    </p>
  </section>
  <section aria-labelledby="welcome-anything-else-heading">
    <h3 id="welcome-anything-else-heading">
      <%= t :".anything_else" %>
    </h3>
    <p>
      <%= t :".ai_html" %>
    </p>
  </section>
  <section aria-labelledby="welcome-authors-heading">
    <h3 id="welcome-authors-heading">
      <%= t :".who_are_authors" %>
    </h3>
    <p>
      <%= t :".authors_html", link: "https://github.com/projecteurlumiere/finejoke" %>
    </p>
  </section>
</article>
