<%= tag.turbo_frame id: "current-round", data: { controller: "vote" } do %>
  <%= tag.div data: round_data_attributes(round), class: "hidden" %>
  <div class="task">
    <div class="description">
      <%= round_task_for(current_or_guest_user, round, game) %>
    </div>
    <%= render_input_for(current_or_guest_user, round, game) %>
  </div>
  <div class="action">
    <%= content_for?(:action) ? yield(:action) : render_default_action_for(current_or_guest_user, game) %>
  </div>
<% end %>