<%= tag.turbo_frame id: "current-round" do %>
  <%= tag.div data: round_data_attributes(round) %>
  <div class="task">
    <p>
      <%= round.stage %>
    </p>
    <p>
      <%= round_task_for(current_or_guest_user, round) %>
    </p>
    <% if round.setup %>
      Завязка:
      <br>
      <%= round.setup %>
    <% end %>
  </div>
  <div class="action">
    <%= render_action_for(current_or_guest_user, round) %>
  </div>
<% end %>