<h3>Write your setup</h3>

<%= form_with(model: round, url: game_round_path(game, round), method: :patch) do |form| %>
  <% if round.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :setup, style: "display: block" %>
    <%= form.text_field :setup %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
