<%= tag.div class: [:joke, (:vote if round.vote_stage?)].compact.join(" "), 
              data: { 
              vote_path: game_round_joke_path(round.game, round, joke),
              jokes_target: :joke
            } do %>
  <% if round.vote_stage? || round.results_stage? || round.game.finished? %>
    <% unless round.vote_stage? %>
      <div class="user">
        <%= tag.div(joke.punchline_author.username) %>
        <%= tag.div("+#{joke.n_votes}", class: "press-font red") %>
      </div>
    <% end %>
    <p class="setup">
      <%= joke.setup %>
    </p>
  <% end %>

  <p class="punchline">
    <%= joke.punchline %>
  </p>
<% end %>