<%= form_with(model: joke, 
  url: [game, round, joke], 
  id: "new-joke",
  data: { 
    controller: "symbol-counter"
  }) do |form| %>
  <% if false && joke.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(joke.errors.count, "error") %> prohibited this joke from being saved:</h2>

      <ul>
        <% joke.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :punchline, 
    placeholder: t(:".enter_text"), 
    aria_label: t(:".enter_text_full"), 
    minrows: 1, 
    rows: 1,
    maxlength: Joke::PUNCHLINE_MAX_LENGTH,
    data: {
      suggestion_target: :userInput,
      action: "input->symbol-counter#update input->suggestion#copy"
    } %>
  <div class="symbol-counter" data-symbol-counter-target="counter" data-input="<%= :joke_punchline %>"></div>

  <% content_for(:action) do %>
    <%= render partial: "rounds/suggestion_form", locals: { game:, round:, suggestion_for: :punchline } %>
    <input type="submit" form="new-joke" value="<%= t(:".done") %>" data-suggestion-target="userSubmit">
  <% end %>
<% end %>
