<%= round.setup if round.setup %>
<%= form if defined? form %>
<h3>
  <%= "this was the last round" if round.last? && round.results_stage? %>
</h3>

<% round.jokes.each do |joke| %>
  <%= joke.text %>
  <%= hidden.to_s if defined? hidden  %>
  <%= button_to "vote", game_round_joke_path(round.game, round, joke), method: :patch if defined? vote %>
  <%= joke.votes if joke.votes > 0 %>
<% end %>