<%= form_with(model: round, 
  url: game_round_path(game, round), 
  method: :patch, 
  id: "new-setup", 
  data: { 
    controller: "symbol-counter"
  }) do |form| %>
  <% if false && round.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :setup, 
    placeholder: t(:".enter_text"), 
    aria_label: t(:".enter_text_full"),
    maxlength: Joke::SETUP_MAX_LENGTH,
    rows: 4,
    data: {
      suggestion_target: :userInput,
      action: "input->symbol-counter#update input->suggestion#copy"
    } %>
  <%# :round_setup - because the id above is generated like this: modelname_paramname %>
  <div class="symbol-counter" data-symbol-counter-target="counter" data-input="<%= :round_setup %>"></div>

  <% content_for(:action) do %>
    <%= render partial: "rounds/suggestion_form", locals: { game:, round:, suggestion_for: :setup } %>
    <input type="submit" form="new-setup" value="<%= t(:".done") %>" data-suggestion-target="userSubmit">
  <% end %>
<% end %>
