<div class="jokes-container" data-jokes-target="jokes">
  <% if jokes.any? %>
    <div id="swipe" class="swipe">
      <div class="swipe-wrap" data-jokes-target="swipeWrap">
        <%= render partial: "rounds/joke", collection: jokes, as: :joke, locals: { round: round } %>
      </div>
    </div>
  <% else %>
    <div id="swipe" class="swipe">
      <div class="swipe-wrap"><%= render partial: "rounds/no_jokes" %>        
    </div>
  </div>
  <% end %>
  <div class="buttons" data-jokes-target="buttons">
    <%= tag.div style: "-webkit-transform: scaleX(-1); transform: scaleX(-1);", 
          data: { jokes_target: "previous", action: "click->jokes#previous"} do %>
      <%= inline_svg("icons/next.svg") %>
    <% end %>
    <div class="counter" data-jokes-target="counter" data-action="click->jokes#goToJoke">
      <% jokes.length.times do |i|%>
        <div data-index="<%= i %>"></div>
      <% end %>
    </div>
    <%= tag.div data: { jokes_target: "next", action: "click->jokes#next"} do %>
      <%= inline_svg("icons/next.svg") %>      
    <% end %>
  </div>
</div>
<% content_for(:action) do %>
  <% if !round.game.finished? && round.vote_stage? && (user.can_vote?(round) && user.not_voted?(round)) %>
    <%= button_to "Проголосовать", 
          game_round_joke_path(round.game, round, jokes.first), 
          method: :patch, 
          form: { 
            data: { 
              jokes_target: "action",
              action: "turbo:submit-end->jokes#changeAction",
              disabled_text: "Ждём",
              revote_texts: "Переголосовать"
            } 
          } %>
  <% end %>
<% end %>