<turbo-frame id="authentication-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), 
    html: { id: "new-password", class: "new-password", method: :post }) do |f| %>
    <%# render "devise/shared/error_messages", resource: resource %>
    <div>
      <%= f.email_field :email, 
        autocomplete: "email", 
        placeholder: t(:".email"), 
        aria_label: t(:".email_aria") %>
      <%= render_errors(resource, :email) %>
    </div>
  <% end %>

  <input class="selected" type="submit" form="new-password" value="<%= t(:".restore_password") %>" data-turbo-frame="_top">
  
  <%= render "devise/shared/links" %>
  <%= link_to t(:".back"), new_session_path(resource_name, params: { locale: I18n.locale }), class: "button", data: { turbo_action: :advance } %>
</turbo-frame>