<%= tag.div class: "chat-container hidden-when-mobile",
            data: {
              controller: :chat,
              containers_target: :container,
              chat_id_value: game.id,
              container_name: "chat",
              custom_unblink: true,
              action: "resize@window->chat#adjustScrollOnResize"
            } do %>
  <style>
    <%= ".message.user_#{user.id} > p".html_safe %> { 
      background-color: var(--chat-self-msg-bg-color);
    }

    .chat-container #chat:empty:before {
      content: "<%= t(:".empty") %>";
    }

    @container (max-width: 160px) { 
      .chat-container #chat:empty:before {
        content: "<%= t(:".empty_short") %>";
      }
    }
  </style>
  <h2>
    <%= t :".chat" %>
  </h2>
  <div id="chat" data-chat-target="messages">
  </div>
  <div class="form">
    <%= render partial: "games/chat_form", locals: { game: game } %>
  </div>
<% end %>