<%= form_with(model: Message, 
              url: game_messages_path(game), 
              autocomplete: :off,
              html: {
                data: {
                  chat_target: :form,
                  action: "turbo:submit-end->chat#resetForm"
                }
              }
              ) do |form| %>
  <div class="message-input">
    <%= form.text_field :text, class: "nunito-font", 
      :"aria-label" => t(:".message_text"), 
      placeholder:t(:".hello"), 
      autocomplete: :off,
      required: true,
      minlength: 1 %> 
    <label aria-label="<%= t(:".send_message") %>">
      <input type="submit">
        <%= inline_svg("icons/send_message.svg") %>
    </label>

<%#     <%= form.submit type: :image, 
      src: asset_path("icons/send-message.svg"), 
      :"aria-label" => t(:".send_message") %>
  </div> 
<% end %>
