<%= form_with(model: game, id: "new-game", class: "form-large") do |form| %>
  <% if false && game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, placeholder: "Название", aria_label: "Введите название", required: true, minlength: 1, data: { new_game_target: "name" } %>
  </div>

  <fieldset class="settings">
    <legend>Доп настройки</legend>
    <div>
      <%= form.select :max_players, (2..10), value: 2 %>
      <%= form.label :max_players, "Макс игроков", style: "display: block" %>
    </div>
    
    <div>
      <%= form.select :max_round_time, [60, 90, 120, 150, 180], value: 90 %>
      <%= form.label :max_round_time, "Время раунда, сек", style: "display: block" %>
    </div>
  </fieldset>

  <fieldset class="conditions">
    <legend>Условия победы</legend>
    <div>
      <%# form.check_box :max_rounds_enabled, aria_label: "Включить условие победы по раундам" %>
      <div class="circle"></div>
      <%= form.label :max_rounds, "Кол-во раундов", style: "display: block" %>
      <%# form.number_field :max_rounds, min: 1, max: 42, value: nil, placeholder: "Нет" %>
      <%= form.select :max_rounds, [["Нет", nil], 1, 5, 10, 15, 20, 25, 30, 35, 40, 42], value: "Нет", placeholder: "Нет" %>
    </div>
    
    <div>
      <%# form.check_box :max_points_enabled aria_label: "Включить условие победы по очкам %>
      <div class="circle"></div>
      <%= form.label :max_points, "Кол-во очков", aria_label: "Включить условие победы по очкам", style: "display: block" %>
      <%# form.number_field :max_points, min: 10, max: 999, value: nil, placeholder: "Нет" %>
      <%= form.select :max_points, [["Нет", nil], 10, 50, 100, 150, 200, 400, 600, 800, 999], value: "Нет", placeholder: "Нет" %>
    </div>
  </fieldset>

  <fieldset class="switch-container">
    <legend>Доступ</legend>
    <div>
      <div>Открыта для зрителей</div>
      <div class="switch">
        <%= form.label :viewable, aria_label: "Открыта для зрителей" do %>
          <%= form.check_box :viewable, data: { new_game_target: :viewable, action: "click->new-game#toggleViewable" } %>
          <span class="slider"></span>
        <% end %>
      </div>
    </div>

    <div>
      <div>Зрители голосуют</div>
      <div class="switch">
        <%= form.label :viewers_vote, aria_label: "Зрители голосуют" do %>
          <%= form.check_box :viewers_vote, data: { new_game_target: "viewersVote", action: "click->new-game#toggleViewable" } %>
          <span class="slider"></span>
        <% end %>
      </div>
    </div>
  </fieldset>

  <%# <div> %>
    <%# form.submit %>
  <%# </div> %>
<% end %>