<%= form_with(model: game, id: "new-game", class: "form-large") do |form| %>
  <% if false && game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name,
      placeholder: t(:".name"), 
      :"aria-label" => t(:".enter_name"), 
      required: true,
      autocomplete: :off,
      minlength: 1, 
      maxlength: 14, 
      data: { new_game_target: "name" } %>
    <%= render_errors(game, :name) %>
  </div>

  <fieldset class="settings">
    <legend>
      <%= t(:".extra_settings") %>  
    </legend>
    <div>
      <%= form.select :max_players, (Rails.env.development? ? (2..10) : (3..10)), value: 2 %>
      <%= form.label :max_players, t(:".max_players"), style: "display: block" %>
    </div>
    
    <div>
      <%= form.select :max_round_time, [60, 90, 120, 150, 180], value: 90 %>
      <%= form.label :max_round_time, t(:".max_round_time"), style: "display: block" %>
    </div>
  </fieldset>

  <fieldset class="conditions">
    <legend>
      <%= t(:".victory_conditions") %>
    </legend>
    <div class="circle-select-container">
      <div class="circle"></div>
      <%= form.label :max_rounds, 
      t(:".max_rounds"), 
      :"aria-label" => t(:".max_rounds_aria"),
      style: "display: block" %>
      <%= form.select :max_rounds, 
        [[t(:".none"), nil], 1, 5, 10, 15, 20, 25, 30, 35, 40, 42], 
        value: t(:".none"), 
        placeholder: t(:".none") %>
    </div>
    
    <div class="circle-select-container">
      <div class="circle"></div>
      <%= form.label :max_points, 
        t(:".max_points"), 
        :"aria-label" => t(:".max_points_aria"), 
        style: "display: block" %>
      <%= form.select :max_points, 
        [[t(:".none"), nil], 10, 50, 100, 150, 200, 400, 600, 800, 999], 
        value: t(:".none"), 
        placeholder: t(:".none") %>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      <%= t(:".access") %>
    </legend>
    <div class="switch-container">
      <div>
        <%= t(:".private") %>
      </div>
      <div class="switch">
        <%= form.label :private, :"aria-label" => t(:".private") do %>
          <%= form.check_box :private %>
          <span class="slider"></span>
        <% end %>
      </div>
    </div>

    <%# if this ever to make comeback: %>
    <%# 1. don't forget to put parameter in the gamescontroller %>
    <%# 2. don't forget to remove return from the new-game#toggleViewable %>
    <% if false %>
      <div class="switch-container">
        <div>
          <%= t(:".open_for_viewers") %>
        </div>
        <div class="switch">
          <%= form.label :viewable, :"aria-label" => t(:".open_for_viewers") do %>
            <%= form.check_box :viewable, 
              data: { 
                new_game_target: :viewable, 
                action: "click->new-game#toggleViewable" } %>
            <span class="slider"></span>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="switch-container">
      <div>
        <%= t(:".viewers_vote") %>
      </div>
      <div class="switch">
        <%= form.label :viewers_vote, :"aria-label" => t(:".viewers_vote") do %>
          <%= form.check_box :viewers_vote, 
            data: { 
              new_game_target: "viewersVote", 
              action: "click->new-game#toggleViewable" } %>
          <span class="slider"></span>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      <%= t(:".ai") %>
    </legend>
    <div class="switch-container">
      <div>
        <%= t(:".suggestable") %>
      </div>
      <div class="switch">
        <%= form.label :suggestable, :"aria-label" => t(:".suggestable") do %>
          <%= form.check_box :suggestable %>
          <span class="slider"></span>
        <% end %>
      </div>
    </div>

    <div class="switch-container">
      <div>
        <%= t(:".virtual_host") %>
      </div>
      <div class="switch">
        <%= form.label :create_with_virtual_host, :"aria-label" => t(:".virtual_host") do %>
          <%= form.check_box :create_with_virtual_host %>
          <span class="slider"></span>
        <% end %>
      </div>
    </div>
  </fieldset>
<% end %>