<%= tag.div id: dom_id(game) do %>
  <p>
    <strong>Max players:</strong>
    <%= game.max_players %>
  </p>

  <p>
    <strong>Max rounds:</strong>
    <%= game.max_rounds %>
  </p>

  <p>
    <strong>Max round time:</strong>
    <%= game.max_round_time %>
  </p>

  <p>
    <strong>Max points:</strong>
    <%= game.max_points %>
  </p>

  <p>
    <strong>Started:</strong>
    <%= game.started %>
  </p>

  <p>
    <strong>Ended:</strong>
    <%= game.ended %>
  </p>

  <ul>
    <% game.users.each do |player| %>
      <li><%= player.id %> and his score: <%= player.current_score %></li>
    <% end %>
  </ul>

  <%= tag.turbo_frame(id: "current-round", src: (game_round_path(game, game.current_round) if game.started?)) do %>
    <%= button_to("Start game", game_rounds_path(game), data: { turbo_frame: "current-round" }) unless game.started? %>
  <% end %>
<% end %>
