<%= tag.div id: dom_id(game) do %>
  <%= button_to "leave", game_leave_path(game) %>
  
  <p>
    <strong>Max players:</strong>
    <%= game.max_players %>
  </p>

  <p>
    <strong>Max rounds:</strong>
    <%= game.max_rounds %>
  </p>

  <p>
    <strong>Max round time:</strong>
    <%= game.max_round_time %>
  </p>

  <p>
    <strong>Max points:</strong>
    <%= game.max_points %>
  </p>

  <p>
    <strong>Current round number:</strong>
    <%= game.n_rounds == 0 ? "Not started" : game.n_rounds %>
  </p>

  <p>
    <strong>Game status:</strong>
    <%= game.status %>
  </p>

  <ul>
    <% game.users.each do |player| %>
      <li><%= player.username %> and his score: <%= player.current_score %></li>
    <% end %>
  </ul>

  <%= tag.turbo_frame(id: "current-round", src: (game_round_path(game, game.current_round) if game.ongoing?)) do %>
    <%= button_to("Start game", game_rounds_path(game), data: { turbo_frame: "current-round" }) if game.waiting? || game.on_halt? %>
  <% end %>
<% end %>
