<%= tag.div( 
      id: dom_id(game), 
      class: "game-container three-columns", 
        data: game_data_attributes(game).merge(
          { user_id: current_or_guest_user.id,
            controller: "containers timer"
          })) do %>
  <%= content_for(:join) do %>
    <%= link_to "Назад в лобби", games_path %>
    <%# button_to "Присоединиться", game_join_path(game) if game.joinable? %>
  <% end %>

  <div class="mobile-navigation">
    <div class="button" data-container-name="data" data-containers-target="button" data-action="click->containers#show"><%= [10, "/", game.max_players].join %></div>
    <div class="button selected" data-container-name="round" data-containers-target="button" data-action="click->containers#show">Игра</div>
    <div class="button" data-container-name="chat" data-containers-target="button" data-action="click->containers#show">Чат</div>
  </div>

  <div class="data-container hidden-when-mobile" data-controller="game-data" data-containers-target="container" data-container-name="data" data-game-data-id-value="<%= current_or_guest_user.id %>">
    <%= render partial: "games/game_users", formats: %i[html], locals: { game: game, votes_change: {} } %>
      <%# <button class="black"> %>
        <%# <span class="icon"> %>
          <%# inline_svg("icons/gear.svg") %>
        <%# </span> %>
        <%# <span class="text">Настройки</span> %>
      <%# </button> %>

      <button class="viewers black">
        <%= inline_svg("icons/eye.svg") %>
        <%= render partial: "games/game_n_viewers", locals: { game: game } %>
      </button>

        <%# render partial: "games/game_settings", locals: { game: game } %>  
  </div>

  <%= render partial: "rounds/current_round", formats: %i[html], locals: { game: game, round: game.current_round } %>

  <%= render partial: "games/chat", locals: { game: game, user: current_or_guest_user } %>
<% end %>
