<% if user %>
  <%= tag.li id: dom_id(user),
             data: { 
               host: user.host?,
               vote_change: votes_change.any? ? (votes_change[user.id] || 0) : nil, 
               lead: user.lead?,
               finished_turn: user.finished_turn?,
               voted: user.voted? } do %>
    <div class="score press-font">
      <% if votes_change.any? %>
        +<%= votes_change[user.id] || 0 %>
      <% else %>
        <%= user.current_score %>
      <% end %>
    </div>
    <div>
     <%= link_to user.username.truncate(15), profile_path(user) %>
    </div>
    <div class="settings hidden">
      <%= button_to("Kick", game_kick_path(game, params: { user_id: user.id })) %>
    </div>
  <% end %>
<% else %> 
  <%= tag.li class: "slot" do %>
    <div class="score press-font">
      <%= user_counter + 1 %>
    </div>
    <div>
      Пусто
    </div>
    <div class="settings hidden">
    </div>
  <% end %>
<% end %>