<% game = Game.find_by(id: game_id) if defined? game_id %>

<%= tag.li id: dom_id(game),
           class: :button,
           data: {
            action: "click->catalogue#select",
            catalogue_target: "entry",
            join_path: (game_join_path(game) if game.joinable?),
            view_path: (game_path(game) if game.viewable) 
           } do %>
  <span><%= game.name %></span> <span class="hidden"><%= game.host_username %></span> <span><%= game.n_players %> / <%= game.max_players %></span>
<% end %>