<%= tag.div id: dom_id(game), class: "game", data: game_data_attributes(game).merge({ user_id: current_or_guest_user.id }) do %>
  <%= content_for(:join) do %>
    <%= link_to "Назад в лобби", games_path %>
    <%= button_to "Присоединиться", game_join_path(game) if game.joinable? %>
  <% end %>

  <div id="game-data">
    <ul id="user-list">
      <%= render partial: "games/game_user", collection: game.users.order(current_score: :desc),  as: :user, locals: { game: game } %>
    </ul>
    <div id="settings">
      <%= render partial: "games/game_settings", locals: { game: game } %>
    </div>
  </div>

  <%= render partial: "rounds/current_round_request", formats: %i[html], locals: { game: game } %>

  <div id="chat-container">
    <%= render partial: "games/chat" %>
    <%= render partial: "games/chat_form", locals: { game: game } %>
  </div>
<% end %>
