<%= tag.div id: dom_id(game), class: "game", data: { user_id: current_or_guest_user.id } do %>
  <%= content_for(:join) do %>
    <%= link_to "Назад в лобби", games_path %>
    <%= button_to "Присоединиться", game_join_path(game) if game.joinable? %>
  <% end %>

  <div id="game-data">
    <ul id="user-list">
      <%= render partial: "games/game_user", collection: game.users.order(current_score: :desc),  as: :user, locals: { game: game } %>
    </ul>
    <div id="settings">
      <%= render partial: "games/game_settings", locals: { game: game } %>
    </div>
  </div>

  <%= tag.turbo_frame(id: "current-round", src: (game_round_path(game, game.current_round) if game.ongoing?)) do %>
    <%= button_to("Start game", game_rounds_path(game), data: { turbo_frame: "current-round" }) if game.waiting? || game.on_halt? %>
  <% end %>

  <div id="chat-container">
    <%= render partial: "games/chat" %>
    <%= render partial: "games/chat_form", locals: { game: game } %>
  </div>
<% end %>
