<%= tag.div id: dom_id(game), class: "game-container three-columns", data: game_data_attributes(game).merge({ user_id: current_or_guest_user.id }) do %>
  <%= content_for(:join) do %>
    <%= link_to "Назад в лобби", games_path %>
    <%# button_to "Присоединиться", game_join_path(game) if game.joinable? %>
  <% end %>

  <div class="data-container">
    <%= render partial: "games/game_users", formats: %i[html], locals: { game: game, votes_change: {} } %>
    <div id="settings">
      <div>
        <%= button_to "Настройки" %>

        <%# render partial: "games/game_settings", locals: { game: game } %>  
      </div>
    </div>
  </div>

  <%= render partial: "rounds/current_round", formats: %i[html], locals: { game: game, round: game.current_round } %>

  <%= render partial: "games/chat", locals: { game: game } %>
<% end %>
