<!-- Make two pages? -->

<article class="rules">
  <h2>
    <%= t :".rules" %>
  </h2>
  <h3>
    <%= t :".common" %>
  </h3>
  <ol>
    <li>
      <%= t :".setup_step" %>
    </li>
    <li>
      <%= t :".punchline_step" %>
    </li>
    <li>
      <%= t :".vote_step" %>
    </li>
  </ol>
  <h3>
    <%= t :".configurable" %>
  </h3>
  <ul>
    <li>
      <% if game.private? %>
        <%= t :".private_html" %>
      <% else %>
        <%= t :".public_html", name: game.name %>
      <% end %>
    </li>
    <li>
      <% if game.viewers_vote? %>
        <%= t :".viewers_vote_html" %>
      <% else %>
        <%= t :".viewers_do_not_vote_html" %>
      <% end %>
    </li>
    <% if !game.max_rounds && !game.max_points %>
      <li>
        <%= t :".no_victory_conditions_html" %>
      </li>
    <% else %>
    <%# careful li starts here and ends... %>
      <li>
        <%= t :".victory_conditions_are" %>
        <ul>
    <% end %>
      <% if game.max_rounds %>
        <li>
          <%= t(:".max_rounds_html", n: game.max_rounds) %><%= ";" if game.max_points %>  
        </li>
      <% end %>
      <% if game.max_points %>
        <li>
          <%= t(:".max_points_html", n: game.max_points) %>
        </li>
      <% end %>
    <% if game.max_rounds || game.max_points %>
        </ul>
      <%# ...and li ends here %>
      </li>
    <% end %>
    <li>
      <%= t :".max_round_time_html", t: game.max_round_time %>
    </li>
    <% if game.suggestable %>
      <li>
        <%= t :".suggestable_html" %>
      </li>
    <% end %>
    <% if game.virtual_host %>
      <li>
        <%= t :".virtual_host_html" %>
      </li>
    <% end %>
  </ul>
</article>