<!-- Make two pages? -->

<article class="rules">
  <h2>Правила</h2>
  <h3>Общие</h3>
  <ol>
    <li>
      Один игрок придумывает завязку к шутке - сетап;
    </li>
    <li>
      Затем остальные игроки придумывают остроумные развязки к сетапу - панчлайны;
    </li>
    <li>
      Когда шутки готовы, проходит голосование за лучшую шутку. Один голос равен одному очку.
    </li>
  </ol>
  <h3>Настраиваемые</h3>
  <ul>
    <li>
      <strong><%= link_to game.host.to_s, profile_path(game.host) %></strong> - хост игры. Он может выгонять других игроков. 
    </li>
    <li>
      <% if game.private? %>
        Это <strong>приватная</strong> игра. Она не отображается списке игр. Поделитесь ссылкой в адресной строке, чтобы кого-то пригласить.
      <% else %>
        Это <strong>публичная</strong> игра. Она отображается в списке игр.
      <% end %>
    </li>
    <% if !game.max_rounds && !game.max_points %>
      <li>
        Условий победы <strong>нет</strong>.
      </li>
    <% else %>
      <li>
        Условия для победы:
        <ul>
    <% end %>
      <% if game.max_rounds %>
        <li>Максимум раундов: <strong><%= game.max_rounds %></strong><%= ";" if game.max_points %></li>
      <% end %>
      <% if game.max_points %>
        <li>
          Максимум очков: <strong><%= game.max_points %></strong>.
        </li>
      <% end %>
    <% if game.max_rounds || game.max_points %>
        </ul>
      </li>
    <% end %>
    <li>
      Длительность раунда: <strong><%= game.max_round_time %> сек</strong>.
    </li>
    <% if game.suggestable %>
      <li>
        В игре <strong>включены ИИ подсказки</strong>.
      </li>
    <% end %>
    <% if game.virtual_host %>
      <li>
        Напишите в чат сообщение, начинающееся с <strong>"Господин ведущий"</strong>, чтобы обратиться к виртуальному ведущему игры.
      </li>
    <% end %>
  </ul>
</article>