<!-- Make two pages? -->

<article class="rules">
  <h2>Правила</h2>
  <h3>Общие</h3>
  <ol>
    <li>
      Один игрок придумывает завязку к шутке, сетап;
    </li>
    <li>
      Затем остальные игроки придумывают остроумные развязки к этой шутке, панчлайны;
    </li>
    <li>
      Когда шутки готовы, проходит голосование за лучшую шутку. Один голос равен одному очку.
    </li>
  </ol>
  <h3>Настраиваемые</h3>
  <ul>
    <li>
      <%= game.host %> - хост игры. Он может выгонять других игроков. 
    </li>
    <li>
      <% if game.private? %>
        Это приватная игра. Она не отображается списке игр. Поделитесь ссылкой в адресной строке, чтобы кого-то пригласить.
      <% else %>
        Это публичная игра. Она отображается в списке игр.
      <% end %>
    </li>
    <% if !game.max_rounds && !game.max_points %>
      <li>
        Условий победы нет.
      </li>
    <% else %>
      <li>
        Условия для победы:
        <ul>
    <% end %>
      <% if game.max_rounds %>
        <li>Максимум раундов: <%= game.max_rounds %><%= ";" if game.max_points %></li>
      <% end %>
      <% if game.max_points %>
        <li>
          Максимум очков: <%= game.max_points %>.
        </li>
      <% end %>
    <% if game.max_rounds || game.max_points %>
        </ul>
      </li>
    <% end %>
    <li>
      Длительность раунда: <%= game.max_round_time %> сек.
    </li>
    <% if game.suggestable %>
      <li>
        В игре включены ИИ подсказки.
      </li>
    <% end %>
    <% if game.virtual_host %>
      <li>
        Напишите в чат сообщение, начинающееся с "Господин ведущий", чтобы обратиться к виртуальному ведущему игры.
      </li>
    <% end %>
  </ul>
</article>