<% content_for(:main_class, :lobby) %>

<%= turbo_stream_from "lobby", channel: LobbyChannel %>

<div id="lobby" class="two-columns" 
  data-controller="catalogue new-game containers">  
  <%= render partial: "catalogue" %>

  <div class="<%= hide_in_mobile_when("index") %> form" 
    data-containers-target="container" 
    data-container-name="form">
    <h2 class="hidden-when-mobile">
      <%= t :".new_game" %>
    </h2>
    <%= render partial: "form", locals: { game: @game } %>
  </div>

  <div class="buttons-container <%= hide_in_mobile_when("create") %>" 
    data-containers-target="container" data-container-name="catalogue">
    <%= button_to t(:".connect"), false, action: nil, 
      disabled: true, method: :post, data: { catalogue_target: :connect } %>
    <a class="button disabled" data-catalogue-target="view" data-turbo-stream>
      <%= t :".view" %>
    </a>
  </div>

  <div class="buttons-container <%= hide_in_mobile_when("index") %>" 
    data-containers-target="container" data-container-name="form">
    <input 
      type="submit" 
      form="new-game" 
      value="<%= t :".create" %>" 
      data-action="click->new-game#validate">
  </div>

  <div class="buttons-container mobile-navigation">
    <a class="button selected" 
      data-containers-target="button" data-container-name="catalogue" data-action="click->containers#show">
      <%= t :".rooms" %>
    </a>
    <a class="button" 
      data-containers-target="button" data-container-name="form" data-action="click->containers#show">
      <%= t :".new" %>
    </a>
  </div>
</div>
