<h1>Games</h1>

<%= turbo_stream_from ["user", current_or_guest_user], channel: UserChannel %>

<%= render partial: "games/user_status", formats: %i[html], locals: { game: @game } %>

<%= turbo_stream_from "lobby", channel: LobbyChannel %>

<div id="games">
  <%= render partial: "game_entry", collection: @games, as: :game %>
</div>

<br>
<%= link_to "New game", new_game_path %>
