<turbo-frame id="authentication-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), 
    html: { id: "new-session", class: "new-session" }) do |f| %>
    <%# render "devise/shared/error_messages", resource: resource %>
    <div>
      <%= f.email_field :email, 
        autocomplete: "email", 
        placeholder: t(:".email"), 
        aria_label: t(:".email_aria"), 
        required: true %>
      <%= render_errors(resource, :email) %>
    </div>
    <div>
      <%= f.password_field :password, 
        autocomplete: "current-password", 
        placeholder: t(:".password"), 
        aria_label: t(:".password_aria"), 
        required: true, 
        maxlength: 128 %>
      <%= render_errors(resource, :password) %>
    </div>
    <% if devise_mapping.rememberable? %>
      <%= f.hidden_field :remember_me, value: true %>
    <% end %>
  <% end %>
  <input type="submit" 
    form="new-session" 
    value="<%= t(:".sign_in") %>" 
    data-turbo-frame="_top">
  <%= render "devise/shared/links" %>
  
  <%= button_to t(:".remain_guest"), guests_path(params: { locale: I18n.locale }), 
    params: { referrer: session[:referrer] || games_path }, 
    data: { turbo_frame: "_top"} %>

  <%# link_to t(:".remain_guest"), session[:referrer] || root_path, 
    class: "button", 
    data: { turbo_frame: "_top" } %>
</turbo-frame>