<div id="authentication">
  <div class="container">
    <h2>
      <%= link_to "Continue as a guest", session.delete(:referrer) || root_path %>
    </h2>
    
    <turbo-frame id="authentication-form">
      <%= tag.h2 "Войти" %>
      <%= link_to "Зарегистрироваться", new_user_registration_path, data: { turbo_action: :advance } %>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
    </turbo-frame>
  </div>
</div>
