<article class="welcome hidden-when-mobile" data-containers-target="container" data-container-name="welcome">
  <h2 class="hidden-when-mobile">F.A.Q.</h2>

  <h3 class="white">
    <%= t :".hello_user_html", username: current_or_guest_user.username %>
  </h3>
  <section>
    <h4>
      <%= t :".what_is_new" %>
    </h4>
    <p>
      <%= t :".no_news" %>
    </p>
  </section>
  <section>
    <h4>
      <%= t :".how_to_contact" %>
    </h4>
    <p>
      <%= t :".source_code_html", link: "" %>
    </p>
    <p>
      <%= t :".email_html", link: "" %>
    </p>
  </section>
</article>