<%= render partial: "hello" %>

<p>
  <%= t(".link_was_requested") %>
</p>

<p><%= link_to t(".reset_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".ignore") %></p>

<%= render partial: "signature" %>