<%= turbo_stream.append("suggestion-response") do %>
  <% if @suggestion.output %>
    <div class="suggestion" data-suggestion-target="response">
      <%= @suggestion.output %>
    </div>
  <% end %>
<% end %>

<% if @suggestion.output %>
  <%= turbo_stream.replace("suggestion-quota") do %>
    <%= render partial: "suggestions/quota", locals: { quota: current_or_guest_user.suggestion_quota } %>
  <% end %>
<% end %>

<%= render_turbo_flash %>