    <nav class="navbar">
      <div class="start">
        <%= render partial: "layouts/user_status", formats: %i[html], locals: { game: current_or_guest_user.game } %>
      </div>
      <h1 class="center">
        Название или Лого
      </h1>
      <div class="end">
      <% if user_signed_in? %>
          <div class="navbar-item">Logged in as <strong><%= link_to current_user.username, self_profile_path %></strong></div>
          <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-item" %>
          <%= link_to "Logout", destroy_user_session_path, class: "navbar-item", 
                                                            data: { turbo_method: :delete }  %>
      <% else %>
          <p>You are guest user <%= link_to guest_user.username, self_profile_path %></p>
          <%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %>
          <%= link_to "Login", new_user_session_path, class: "navbar-item"  %>
        <% end %>
      </div>
    </nav>