    <nav class="navbar">
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item">Logged in as <strong><%= current_user.email %></strong></div>
          <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-item" %>
          <%= link_to "Logout", destroy_user_session_path, class: "navbar-item", 
                                                            data: { turbo_method: :delete }  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %>
          <%= link_to "Login", new_user_session_path, class: "navbar-item"  %>
        <% end %>
      </div>
    </nav>