<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <%= t(:".title") %>
    </title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# preload_fonts if Rails.env.production? %>
    <%= javascript_importmap_tags %>
    <%= turbo_stream_from ["user", current_or_guest_user], channel: UserChannel unless new_guest? %>
  </head>

  <body>
    <header>
      <%= render partial: "layouts/navbar" %>
      <%= render partial: "layouts/flash" %>
    </header>
    <%= tag.main class: yield(:main_class) do %>
      <%= yield %>
    <% end %>
  </body>
</html>
